.cor-home {
  background-color: #000000;
}

.titulo {
  color: white;
}

.botão {
  border-color: #ffffff !important;
  background-color: #3f51b5;
  color: #3f51b5 !important;
}

.background-branco{
  background-color:#3f51b5 ;
}